
div {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

#name{
	font-size: 20px;
	font-weight: bold;
	font-color:orange;
	color:orange;
}
.email{
    margin-left:30px;
    color:green;

}
#github{
	font-style: italic;
	color:black;
	margin-left:35px;
}